/* ## After Footer
--------------------------------------------- */

.after-footer {
	padding: 5% 0;
	font-size: $font-size-body * 0.9;

	.widget {
		margin-bottom: 0;
	}
}


.after-footer-cta {
		width: 100%;
		background-color: $color-white;
		padding: 5px 0;
		position: fixed;
		bottom: 0;
	}
